
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="color:crimson">Pago de Cuotas</h2>
<center>

    <div>
        <label>Importe</label>
        <input style="background-color:greenyellow" id="Text3" type="text" placeholder="Escribe aqui" />
    </div>
    <div>
        <label>Mes</label>
        <input style="background-color:greenyellow" id="Text4" type="text" placeholder="Escribe aqui" />
    </div>
    <div>
        <label>Carrera</label>
        <input style="background-color:greenyellow" id="Text5" type="text" placeholder="Escribe aqui" />
    </div>
    <div>
        <input style="background-color:white" id="Button" type="button" value="Pagar" onclick="alerta()" />
        <script language="JavaScript">

            //function alerta() {
            // alert("El Pago se Realizo Correctamente");
            //}

            //if ($("input[ID$='Text1']").val() != "" &&
            //    $("input[ID$='Text2']").val() != "" &&
            //    $("input[ID$='Text3']").val() != "" &&
            //    $("input[ID$='Text4").val() != "" &&
            //    $("input[ID$='Text5']").val() {
            //    var Nombre = $("input[ID$='Text1']").val();
            //    var Apellido = $("input[ID$='Text2']").val();
            //    var Importe = $("input[ID$='Text3']").val();
            //    var Mes = $("input[ID$='Text4").val();
            //    var Carrera = $("input[ID$='Text5").val();

            function alerta() {
                $('#Button').click(function () {
                    if ($.trim($(('#Text1', '#Text2', '#Text3', '#Text4', '#Text5')).val()) == '') {
                        alert('Falta Rellenar Campos');
                        return false;

                    }
                    else {
                        alert("Se Realizo El Pago Correctamente");
                    }
                });
            }

                                    //}
                                        //}
        </script>
    </div>
</center>