
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pago de Cuotas</h2>

<div>
<label>Nombre</label>
<input id="Text1" type="text" />
</div>
<div>
    <label>Apellido</label>
    <input id="Text2" type="text" />
</div>
<div>
    <label>Importe</label>
    <input id="Text3" type="text" />
</div>
<div>
    <label>Mes</label>
    <input id="Text4" type="text" />
</div>
<div>
    <label>Carrera</label>
    <input id="Text5" type="text" required />
</div>
<div>
    <script>
        function alerta() {
            alert("El Pago se Realizo Correctamente");
        }
    </script>
    <input id="Button" type="button" value="Pagar" onclick="alerta()" />
</div>
