
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="color:crimson">Pago de Cuotas</h2>
<center>

    <div>
        <label>Importe</label>
    </div>
    <div>
        <input style="background-color:greenyellow" id="Text1" type="text" placeholder="Escribe aqui" />
    </div>
    <div class="form-group">
        <label for="inputName">Mes</label>

        <select name="Text2" class="form-control">
            <option value="1">ENERO</option>
            <option value="2">FEBRERO</option>
            <option value="3">MARZO</option>
            <option value="4">ABRIL</option>
            <option value="5">MAYO</option>
            <option value="6">JUNIO</option>
            <option value="7">JULIO</option>
            <option value="8">AGOSTO</option>
            <option value="9">SEPTIEMBRE</option>
            <option value="10">OCTUBRE</option>
            <option value="11">NOVIEMBRE</option>
            <option value="12">DICIEMBRE</option>
        </select>
    </div>
    <div>
        <label>Carrera</label>
    </div>
    <div>
        <input style="background-color:greenyellow" id="Text3" type="text" placeholder="Escribe aqui" />
    </div>
    <br>
    </br>
    <div>
        <input style="background-color:white" id="Button" type="button" value="Pagar" onclick="alerta()" />
        <script language="JavaScript">


            function alerta() {
                $('#Button').click(function () {
                    if ($.trim($(('#Text1', '#Text2', '#Text3')).val()) == '') {
                        alert('Falta Rellenar Campos');
                        return false;

                    }
                    else {
                        alert("Se Realizo El Pago Correctamente");
                    }
                });
            }


        </script>
    </div>
</center>
