@model  ET.User
@{ }
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 

}
<!--

<h2>Login</h2>
<div>
    <form method="post" action="/Login/Index">
        <div class="form-group">
            <label>Ingresa nombre de usuario</label>
            <input type="text" name="user" value="" />
        </div>
        <div class="form-group">
            <label>Ingresa contraseña</label>
            <input type="password" name="password" value="" />
        </div>
        <button type="submit">Ingresar</button>
    </form>
</div>
    -->


<hr />

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Login</h3>
                </div>
                <div class="panel-body">                                                                                                                                                    
                    <form accept-charset="UTF-8" role="form" method="post" action="/Login/Index">
                        <fieldset>
                            <div class="form-group">
                                @Html.EditorFor(x => x.nombre)
                                @*@Html.TextBoxFor(model => model.)*@
                                
                                
                                
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(x => x.password)
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me"> Recordar password
                                </label>
                                @Html.EditorFor(x=>x.Rol)
                            </div>

                            <button type="submit" class="btn btn-lg btn-success btn-block" value="Login">Ingresar</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

