@model ET.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    <div class="col-md-3 form-horizontal">
        <br />
        @Html.TextBoxFor(x => x.nombre,
           new { @class = "form-control", placeholder = "Nombre", autofocus = "autofocus" })
        @Html.ValidationMessageFor(x => x.nombre, null, new { @class = "text-danger" })
        <br />
        @Html.TextBoxFor(x => x.password,
           new { @class = "form-control", placeholder = "Password" })
        @Html.ValidationMessageFor(x => x.password, null, new { @class = "text-danger" })

    </div>
    <div>
        <button class="btn btn-primary" type="submit">
            Enviar datos
        </button>
    </div>
}















