@model ET.User
@{
    ViewBag.Title = "Contact";
}



<hr />
<div class="card card-outline-secondary">
    <div class="card-header">
        <h2 class="mb-0">Alta de Usuario</h2>
    </div>

    <div class="card-body">
        <form class="form" role="form" autocomplete="off" method="post">

            <div class="form-group">
                <label for="inputName">Nombre</label>
                <input type="text" class="form-control" name=@Model.nombre placeholder="Nombre" required="">
            </div>
            <div class="form-group">
                <label for="inputEmail3">Email</label>
                <input type="email" class="form-control" name=@Model.email placeholder="Email" required="">
            </div>
            <div class="form-group">
                <label for="inputPassword3">Password</label>
                <input type="text" class="form-control" name=@Model.password placeholder="Password" required="">
            </div>
            <div class="form-group">
                <label for="inputName">Fecha Nacimiento</label>
                <input type="date" class="form-control" name=@Model.fecha placeholder="Fecha Nac" required="">
            </div>
            <div class="form-group">
                <label for="inputName">Rol</label>

                <select name="idrol" class="form-control">
                    <option value="1">ADMINISTRADOR</option>
                    <option value="2">USUARIO</option>

                </select>
            </div>
            <div class="form-group">
                <button type="submit" name="btnAltaUser" class="btn btn-success btn-lg float-left" select="1,2">Registrar</button>

            </div>
        </form>
    </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mb-4">Superior La Paz</h5>

                <p>
                    Creado en el año 1996 por la Fundación Nuestra Señora de la Paz, con el objetivo de ofrecer a los jóvenes y adultos un espacio formativo.
                </p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mb-4">Sobre nosotros</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <a href="#!">PROJECTS</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">ABOUT US</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">BLOG</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">AWARDS</a>
                        </p>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Contact details -->
                <h5 class="font-weight-bold text-uppercase mb-4">&nbsp Contacto</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <i class="fas fa-home mr-3"></i> Av Piedrabuena 3585,CABA
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-envelope mr-3"></i>superiorlapaz@gmail.com
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-phone mr-3"></i>+ 54-4215-4589
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-print mr-3"></i>+ 54-11-8547-4589
                        </p>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mb-4">REDES SOCIALES</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <a href="#!">FACEBOOK</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">INSTAGRAM</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">YOUTUBE</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">BLOG</a>
                        </p>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2021 Copyright:

    </div>
    <!-- Copyright -->

</footer>




<!--

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

    -->
